body {
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.carousel-inner {
    max-height: 54rem;
}

.card-img-top {
    height: 10rem;
}

.mensaje {
    height: 12em;
}

footer, a {
    color: #fff;
    text-decoration: none;
    padding-left: 1%;
    padding-right: 1%;
}